.App {
  text-align: center;
 background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*css za meni*/
.meni_style a{ 
 padding-left: 30px;
}
/*dugme za brisanje*/
.obrisi{
  background:"white"
  background:"#F6D7D8"; 
  border:"40px";
  cursor:"pointer";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   background-color: #272829;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#container{
  color: #293031;
}

.App-link {
   color: #293031;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #313233;
  text-decoration: none;
}

